<h1>Products</h1>

<input [(ngModel)]="name" placeholder="Product Name" class="input">
<input [(ngModel)]="description" placeholder="Product Description" class="input">
<input [(ngModel)]="price" placeholder="Product Price" class="input">


<button (click)="createProduct()">
  Add Product
</button>
<hr>
<div *ngFor="let product of products | async" style="padding: 20px;">
    ID: {{ product.id }}<br>Name: {{ product.name }}<br>Description: {{ product.description }}<br>Price: {{ product.price }}<br>

    <input [(ngModel)]="product.name" name="name" placeholder="name">
    <input [(ngModel)]="product.description" name="description" placeholder="description">
    <input [(ngModel)]="product.price" name="price" placeholder="price">
    <br>
    <button [class.selected]="product.id === selectedId" [routerLink]="['/product-detail', product.id]">Edit</button>
    <button (click)="deleteProduct(product.id)">Delete</button>

    <product-detail [product]="product"></product-detail>
  
</div>